/* Base */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5em;
  height: 100%;
}

/* Navbar */

.navbar-custom {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navbar-inverse {
  background-color: rgba(0,0,0,0);
  border: 0;
  font-variant: small-caps;
}

.navbar-inverse .navbar-brand {
  font-weight: 800;
  font-size: 1.75em;
}

h1.site-title {
  margin: -.15em 0 0 0;
  font-size: 1em;
}

.navbar-inverse .navbar-nav > li > a {
  font-weight: 800;
  font-size: 1.25em;
}

.navbar-collapse .collapse .in {
  background-color: rgba(255,255,255,1);
}

.dropdown-menu > li > a {
  font-weight: 800;
}

/* Jumbotron */

.jumbotron {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

.home-jumbotron {
  height: 500px;
}

.page-jumbotron {
  height: 300px;
}

.home-jumbotron h2 {
  margin-top: 2.5em;
  font-variant: small-caps;
  font-size: 72px;
}

.page-jumbotron h2 {
  margin-top: 1.5em;
  font-variant: small-caps;
  font-size: 300%;
}

.jumbotron h2 {
  font-variant: small-caps;
}

.home-h3 {
  margin-top: -.01em;
  font-size: 2.15em;
}

img {
  margin-top: .5em;
  margin-bottom: .5em;
}

.img-div-left {
  padding-left: 0;
  padding-right: 1.5em;
}

.img-div-right {
  padding-left: 1.5em;
  padding-right: 0;
  float: right;
}

hr {
  width: 50%;
  border: .05em solid #006633;
}

.journal-btns {
  margin-top: 1em;
}

.header-link {
  color: rgba(255,255,255,1);
  text-decoration: underline;
}

.header-link:hover {
  color: rgba(255,255,255,.75);
  text-decoration: underline;
}

/* Content */

.text-small {
  font-size: .85em;
}

.search {
  margin-top: 2em;
}

.post-list-box {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 19em;
  overflow: hidden;
  position: relative;
}

.img-thumbnail {
  width: 45%;
}

.post-list {
  list-style-type: none;
  margin-left: -2.5em;
}

.post-list-header {
  margin-top: 0;
  font-size: 1.5em;
}

.university {
  list-style-type: none;
  margin-left: -1.5em;
}

.announcement {
  height: auto;
  margin-top: -1em;
  margin-bottom: 1em;
}

.announcement-text {
  margin: 1em 0;
}

.cfp {
  width: 10em;
  margin-bottom: 1em;
}

.phil-events {
  background: rgba(56,52,148,.8);
  border: rgba(56,52,148,.9);
}

.phil-events:hover {
  background: rgba(56,52,148,.95);
  border: rgba(56,52,148,1);
}

.schedule-list {
  list-style-type: none;
}

.schedule-header {
  margin-top: 1.5em;
}

.day-2 {
  margin-bottom: 2em;
}

.cfp-page {
  margin-bottom: 2em;
}

/* Footer */

footer {
  border-top: 1px solid #006633;
  color: #006633;
}

.footer-content {
  padding-bottom: 1em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
}

.inclusive {
  float: right;
  margin-bottom: 0;
  margin-top: 1.45em;
  width: 50%;
  max-width: 100%;
}

.inclusive-p {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

@media only screen and (max-width: 768px) {
  .collapsing, .in {background-color: rgb(0,105,63);}
  .collapsing ul li a, .in ul li a {color: rgb(255,255,255) !important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: rgba(255,255,255,.85) !important;}
  .home-jumbotron { height: 350px; }
  .home-jumbotron h1 { margin-top: 1em; }
  .post-list-box { height: auto; }
  .img-thumbnail { width:100%; }
  .inclusive { float: left; margin: 0 1em; width: 85%; max-width: 90%; }
}

@media only screen and (max-width: 992px) {
  .post-list-box { height: 15em; }
  .announcement {height: auto; }
  .cfp { font-size: .75em; }
}
