 <!--CALL FOR PAPERS MESSAGE -->
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Now Accepting Papers!</h3>
    <p class="text-justify announcement-text">We are currently accepting papers for the 2022 UCiP.</p>
    <p class="text-justify announcement-text">The deadline for submissions is <strong> Thursday, January 6th, 2022</strong>!</p>
    <p class="text-justify announcement-text">Make sure to review the submission guidelines in our Call for Papers (CFP) &ndash; then <a href="https://forms.gle/vVfEKXU3oE2jBzVC7">submit your paper</a>!</p>
    <div class="text-center">
      <a class="btn btn-primary cfp" href="{{ site.baseurl }}/cfp/" role="button">View the CFP</a>
      <a class="btn btn-info phil-events cfp" href="https://philevents.org/event/show/85594" role="button">PhilEvents</a>
    </div>
  </div>
</div>

<!--FLYER COMING SOON MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">The deadline for submissions has passed.</h3>
    <p class="text-center announcement-text">Check back soon for this year's flyer and schedule!</p>
    <p class="text-center announcement-text">See you in March!</p>
  </div>
</div>-->

 <!--FLYER MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Download this year's schedule and abstract list!</h3>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2021-program.pdf">2021 UCiP Schedule</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2021-abstracts.pdf">2021 UCiP Abstract List</a></p>
    <h3 class="text-center post-list-header">Download this year's flyers!</h3>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2021_flyer.pdf">2021 UCiP Flyer</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2021_flyer_keynote.pdf">2021 UCiP Keynote Flyer with Bio</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2021_flyer_keynote_abstract.pdf">2021 UCiP Keynote Flyer with Abstract</a></p>
  </div>
</div>-->

<!-- SCHEDULE MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you March 9th and 10th!</h3>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2019-program.pdf">Click here to download this year's UCiP Schedule.</a></p>
    <a href="{{ site.baseurl }}/docs/2019-program.pdf"><img class="img-responsive" src="{{ site.baseurl }}/img/2019-program-img.png" ></a>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
  </div>
</div>-->

<!-- CONFERENCE CLOSED MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">We look forward to seeing you in person next year!</h3>
    <p class="text-center announcement-text">The 2021 conference has concluded, but we'll be back next year!</p>
    <p class="text-center announcement-text">Look for the 2022 Call for Papers in October/November!</p>
  </div>
</div>->

<!-- SPIRIT AWARD MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">2020 Spirit of the Conference Award Recipients</h3>
    <p class="text-center announcement-text">Levi Durham, Western Michigan University</p>
    <p class="text-center announcement-text">Jennifer Kuo, University of Illinois Urbana-Champaign</p>
    <p class="text-center announcement-text">Ben Schwabe, Michigan State University</p>
    <p class="text-center announcement-text">Klayton Silverpen, Central Michigan University</p>
    <p class="text-center announcement-text">Jack Vavrinchik, Elmhurst College</p>
  </div>
</div>-->
