<!--CALL FOR PAPERS MESSAGE -->
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Now Accepting Papers!</h3>
    <p class="text-justify announcement-text">We are now accepting papers for the 2025 UCiP.</p>
    <p class="text-justify announcement-text">The submission deadline is <strong>Sat., Sept. 6th, 2025</strong>!</p>
    <div class="text-center">
      <a class="btn btn-primary cfp" href="{{ site.baseurl }}/cfp/" role="button">View the CFP & Submit</a>
      <a class="btn btn-info phil-events cfp" href= "https://philevents.org/event/show/135086" role="button">PhilEvents</a>
    </div>
  </div>
</div>

<!-- FLYER COMING SOON MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">The deadline for submissions has passed.</h3>
    <p class="text-center announcement-text">Check back soon for this year's flyer and schedule!</p>
    <p class="text-center announcement-text">See you in March!</p>
  </div>
</div>-->

<!-- FLYER MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Download this year's schedule and abstract list!</h3>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2022-program.pdf">2022 UCiP Schedule</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2022-abstracts.pdf">2022 UCiP Abstract List</a></p>
    <h3 class="text-center post-list-header">Download this year's flyers!</h3>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2022_flyer.pdf">2022 UCiP Flyer</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2022_flyer_keynote.pdf">2022 UCiP Keynote Flyer with Bio</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2022_flyer_keynote_abstract.pdf">2022 UCiP Keynote Flyer with Abstract</a></p>
  </div>
</div>-->

<!-- SCHEDULE MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you this weekend!</h3>
    <p class="announcement-text">
      <a href="{{ site.baseurl }}/schedule/" target="_blank">Click here to view the 2024 UCiP Schedule.</a>
      <hr>
      <a href="{{ site.baseurl }}/docs/2024-ucip-schedule.pdf" target="_blank">Click here to download a pdf of the 2024 UCiP Schedule.</a>
      <hr>
      <a href="{{ site.baseurl }}/docs/2024-ucip-abstracts.pdf" target="_blank">Click here to download the 2024 UCiP Abstracts.</a>
    </p>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
  </div>
</div>-->

<!-- CONFERENCE CLOSED MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">We look forward to seeing you next year!</h3>
    <p class="text-center announcement-text">The 2023 conference has concluded, but we'll be back in November!</p>
    <p class="text-center announcement-text">Look for the November UCiP 2023 Call for Papers this summer!</p>
  </div>
</div>-->

<!-- SPIRIT AWARD MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">2020 Spirit of the Conference Award Recipients</h3>
    <p class="text-center announcement-text">Levi Durham, Western Michigan University</p>
    <p class="text-center announcement-text">Jennifer Kuo, University of Illinois Urbana-Champaign</p>
    <p class="text-center announcement-text">Ben Schwabe, Michigan State University</p>
    <p class="text-center announcement-text">Klayton Silverpen, Central Michigan University</p>
    <p class="text-center announcement-text">Jack Vavrinchik, Elmhurst College</p>
  </div>
</div>-->
