<!-- CALL FOR PAPERS MESSAGE -->
<!-- ACCEPTING PAPERS MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Now Accepting Papers!</h3>
    <p class="text-justify announcement-text">We are currently accepting papers for the 2020 UCiP.</p>
    <p class="text-justify announcement-text">The deadline for submissions <strong>January 9, 2020</strong>!</p>
    <p class="text-justify announcement-text">Make sure to review the submission guidelines iour Call for Papers (CFP) &ndash; then <a href="https://goo.gl/forms/xQAMbifOKAlYHveA3">submit your paper</a>!</p>
    <div class="text-center">
      <a class="btn btn-primary cfp" href="{{ site.baseurl }}/cfp/" role="button">View the CFP</a>
      <a class="btn btn-info phil-events cfp" href="https://philevents.org/event/show/76538" role="button">PhilEvents</a>
    </div>
  </div>
</div>-->

<!--FLYER COMING SOON MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">The deadline for submissions has passed.</h3>
    <p class="text-center announcement-text">Check back soon for this year's flyer and schedule!</p>
    <p class="text-center announcement-text">See you in March!</p>
  </div>
</div>-->

<!-- FLYER MESSAGE -->
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you March 7th and 8th!</h3>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2020_flyer.pdf">Click here to download this year's UCiP Flyer.</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2020_flyer_keynote.pdf">Click here to download this year's UCiP Keynote Flyer with Bio.</a></p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2020_flyer_keynote_abstract.pdf">Click here to download this year's UCiP Keynote Flyer with Abstract.</a></p>
    <a href="{{ site.baseurl }}/docs/ucip-flyer.pdf"><img class="img-responsive" src="{{ site.baseurl }}/img/ucip-flyer-img.jpg" ></a>
  </div>
</div>

<!-- SCHEDULE MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you March 9th and 10th!</h3>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2019-program.pdf">Click here to download this year's UCiP Schedule.</a></p>
    <a href="{{ site.baseurl }}/docs/2019-program.pdf"><img class="img-responsive" src="{{ site.baseurl }}/img/2019-program-img.png" ></a>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
  </div>
</div>-->

<!-- CONFERENCE CLOSED MESSAGE
<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you next year!</h3>
    <p class="text-center announcement-text">The Winter 2019 conference has concluded, but we'll be back next year!</p>
    <p class="text-center announcement-text">Look for the Winter 2020 Call for Papers in October/November!</p>
  </div>
</div>-->
