<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">Now Accepting Papers!</h3>
    <p class="text-center announcement-text">We are currently accepting papers for the 2017 UCiP.</p>
    <p class="text-center announcement-text">Review the submission guidelines in our Call for Papers (CFP) &ndash; then submit your paper!</p>
    <div class="text-center">
      <a class="btn btn-primary cfp" href="{{ site.baseurl }}/cfp/" role="button">View our 2017 CFP</a>
      <a class="btn btn-primary cfp" href="https://goo.gl/forms/xQAMbifOKAlYHveA3" role="button">Submit a Paper</a>
    </div>
  </div>
</div>
