<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h3 class="text-center post-list-header">See you in March!</h3>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/2017_ucip-schedule.pdf">Click here to download this year's UCiP Schedule.</a></p>
    <a href="{{ site.baseurl }}/docs/2017_ucip-schedule.pdf"><img class="img-responsive" src="{{ site.baseurl }}/img/2017_ucip-schedule_thumbnail.png" ></a>
  </div>
</div>
