<div class="col-sm-3 col-xs-12 hidden-print">
  <div class="post-list-box announcement">
    <h2 class="text-center post-list-header">See you in March!</h2>
    <p class="text-center announcement-text">The deadline for paper submissions has passed.</p>
    <p class="text-center announcement-text"><a href="{{ site.baseurl }}/docs/ucip_flyer.pdf">Click here to download this year's UCiP Flyer.</a></p>
    <a href="{{ site.baseurl }}/docs/ucip_flyer.pdf"><img class="img-responsive" src="{{ site.baseurl }}/img/ucip_flyer-thumbnail.png" ></a>
  </div>
</div>
