<header>
  <h1 class="visible-print-block print-title">EMU UCiP</h1>
  <nav class="navbar navbar-inverse navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-print" href="{{ site.baseurl }}/"><h1 class="site-title">EMU UCiP</h1></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.baseurl }}/cfp/">CFP</a></li>
          <li><a href="{{ site.baseurl }}/schedule/">Schedule</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arrival <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/arrival/maps/">Campus Maps</a></li>
              <li><a href="{{ site.baseurl }}/arrival/accommodations/">Accommodations</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advice <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/advice/speakers/">Speakers</a></li>
              <li><a href="{{ site.baseurl }}/advice/commentators/">Commentators</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/journal/">Acta Cogitata</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">History <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/history/">Past Programs</a></li>
              <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
