<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="jumbotron home-jumbotron hidden-print" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
      <div class="container">

        <h2 class="text-center home-h2" id="responsive_headline_home1">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
        
      </div>
    </div>

    <div class="visible-print">
      <h2>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
    </div>

    {{ content }}

    {% include footer.html %}

    </body>
</html>
